.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:goldenrod;
  }
  html {
    text-align: center;
    background-color: #282c34;
  }
  h1{
  font-size: calc(20px + 7vmin);
  }
  h2{
    font-size: 2rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h3{
    font-size: 1.8rem;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-style: italic;
  }
  a{
    color: goldenrod;
  }
  body{
    overflow: hidden;
}